---
---

@import "minima-reboot";

.mainimage {
    max-width:100%;
    height:auto;
    max-height:100%;
}

.article_data {
    margin: 0 0 .9375em;
    clear: both;
    align-items: center;
    border-bottom: .0625rem solid #ebebeb;
    border-top: .0625rem solid #ebebeb;
 }