---
---

@import "minima-reboot";

.heroimage {
    max-width:100%;
    height:auto;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.article_data {
    margin: 0 0 .9375em;
    clear: both;
    align-items: center;
    border-bottom: .0625rem solid #ebebeb;
    border-top: .0625rem solid #ebebeb;
}

.imagecredits {
    font-size: 12px;
    text-align: right;
    width: 100%;
}

#sociallinks span {
    margin: 0 10px;
}

#sociallinks a {
    :hover { color: white; text-decoration: none }
}

#sociallinks img {
    :hover { color: white; text-decoration: none }
}

#sociallinks span {
    :hover { color: white; text-decoration: none }
}

.socialtwitter {
    margin: 0;
    padding: 2px;
    background-color: #38A1F3;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.socialfacebook {
    margin: 0;
    padding: 2px;
    background-color: #3b5998;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.sociallinkedin {
    margin: 0;
    padding: 2px;
    background-color: #0077B5;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
