---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <header class="pt-4 pb-3">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="text-secondary article_data">
      {% if page.author %}
        {% if page.author_url %}
          <a href="{{ page.author_url }}">
        {% endif %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">by {{ page.author }}</span></span>
        {% if page.author_url %}
          </a>
        {% endif %}
        &bull;
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <div id="sociallinks">
      <span>
        <a class="socialtwitter" target="_blank" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title | escape }}" data-show-count="false">
          <img src="/assets/img/soc-twitter-logo.png" alt="Twitter logo" width="16" height="16" />
          <span>Tweet</span>
        </a>
      </span>
      <span>
        <a class="socialfacebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;src=sdkpreparse">
          <img src="/assets/img/soc-facebook-logo.png" alt="Facebook logo" width="16" height="16" />
          <span>Share</span>
        </a>
      </span>
      <span>
        <a class="sociallinkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}">
          <img src="/assets/img/soc-linkedin-logo.png" alt="LinkedIn logo" width="16" height="16" />
          <span>Share</span>
        </a>
      </span>
    </div>
    <p></p>
    {% if page.image %}
      <img class="mainimage" src="{{ page.image | relative_url }}"
      {% if page.image_alt_text %}
        alt="{{ page.image_alt_text | escape }}"
      {% endif %}
      >
      <p></p>
      {% if page.image_credits %}
        <div class="imagecredits">
          {{ page.image_credits | escape }}
        </div>
      {% endif %}
    {% endif %}
  </header>

  <div class="text-justify" itemprop="articleBody" id="content">
    <p></p>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
